@model VulnerabilidadesApp.Models.Vulnerabilidade

@{
    ViewData["Title"] = "Detalhes da Vulnerabilidade";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Vulnerabilidade</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Título</dt>
        <dd class="col-sm-10">@Model.Titulo</dd>

        <dt class="col-sm-2">Descrição</dt>
        <dd class="col-sm-10">@Model.Descricao</dd>

        <dt class="col-sm-2">Severidade</dt>
        <dd class="col-sm-10">@Model.Severidade</dd>

        <dt class="col-sm-2">Data de Descoberta</dt>
        <dd class="col-sm-10">@Model.DataDescoberta.ToShortDateString()</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar à Lista</a>
</div>
